<div>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <h1>Información de usuario</h1>
    <div class="d-flex flex-column align-items-center">
      <div class="card col-10 col-md-4">
        <div class="card-header">
          <h4>Su informacion personal:</h4>
        </div>
        <div class="card-body">
            <div class="form-group">
                
                <div class="row mt-1 mb-1 ">
                    <div class="col-4 border bg-light fw-bold">
                        Nombre:
                    </div>
                    <div class="col border bg-light">
                        {{user.name}}
                    </div>
                </div>
                <div class="row mt-1 mb-1">
                    <div class="col-4 border bg-light fw-bold">
                        Fecha de nacimiento:
                    </div>
                    <div class="col border bg-light">
                        {{user.age}}
                    </div>
                </div>
                <div class="row mt-1 mb-1">
                    <div class="col-4 border bg-light fw-bold">
                        Email:
                    </div>
                    <div class="col border bg-light">
                        {{user.email}}
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  