  <div class="d-flex flex-column align-items-center">
    <h3>Editar activididad</h3>
    <div class="card col-10 col-md-6">
      <div class="card-header">
        <h5>Editar:</h5>
      </div>
    </div>
    <div class="card col-10 col-md-6">
      <div class="card-body">
        <form class="activity-form" @submit.prevent="onSubmit">
          <label for="name">Nombre:</label>
          <input type="text" class="form-control" id="name" placeholder="Nombre Actividad" v-model="activity.name">
          <br>
          <div class="row mb-3">
              <div class="form-group col-4">
                <label for="start-date">Fecha inicial:</label>
                <input type="date" class="form-control" id="start-date" placeholder="" v-model="activity.startdate">
              </div>
              <div class="form-group col-4">
                <label for="end-date">Fecha final:</label>
                <input type="date" class="form-control" id="end-date" placeholder="" v-model="activity.enddate">
              </div>
              <div class="form-group col-4">
                <label for="color">Color:</label>
                <input type="color" class="form-control" id="color" placeholder="" v-model="activity.color">
              </div>
          </div>
           <div class="row mb-3">
              <div class="form-group col-4">
                <label for="priority">Prioridad:</label>
                <input type="number" class="form-control" id="priority" placeholder="0" v-model="activity.priority">
              </div>
              <div class="form-group col-8">
                <label for="category">Categoria:</label>
           <select class="form-control" v-model='activity.category'>
            <option v-for='data in activity.categories' :value='data.categoryId' :key='data.categoryId'>{{ data.categoryName }}</option> <!--toca cambiarlo cuando el get the categories funcione :c-->
            </select>
              </div>
              
           </div>
           <div class="row mb-3">
             <div class="form-group col-4">
                <br>
                <label for="repetition">Repetición:  <input type="checkbox" value="" v-model="activity.repetition"></label>
              </div>
              <div v-if=activity.repetition class="form-group col-4">
                <select class="select"  v-model="activity.days" multiple>
                  <option value=1000000>Lunes</option>
                  <option value=0100000>Martes</option>
                  <option value=0010000>Miercoles</option>
                  <option value=0001000>Jueves</option>
                  <option value=0000100>Viernes</option>
                  <option value=0000010>Sabado</option>
                  <option value=0000001>Domingo</option>
                <label class="form-label select-label">Dias</label>
</select>
              </div>
              <div class="form-group col-4">
                <label for="priority">Número de semanas:</label>
                <input type="number" class="form-control" id="weeks" placeholder="0" v-model="activity.week">
              </div>

           </div>
           
            <br>
            <button @click="editActivity" class="btn btn-primary">Editar</button>
        </form>
      </div>
    </div>
    </div>

