<div>
  <div class="d-flex flex-column align-items-center p-5">
    <div class="card col-10 col-md-6">
      <div class="card-header">
          <p> Filtros de Actividades </p>
          <div class="card-body">
            <select class="form-control" @change="handleFilterChange()" v-model='filterCriteria'>
              <option v-for='filter, index) in filterTypes' :value='filter.id' :key='filter.id' >{{filter.name }}</option> 
              </select>
              <br />
            <select v-if="filterCriteria == 2" class="form-control" @change="filterByCategory()" v-model='currentFilter'>
              <option v-for='category, index) in renderCategories' :value='category.id' :key='category.id' >{{category.name }}</option> 
              </select>
              <div v-if="filterCriteria == 1" class="row mb-3">
              <div class="form-group col-6 col-md-6">
                <label for="start-date">Fecha inicial:</label>
                <input type="date" class="form-control" id="start-date" placeholder="" @change="filterByDate()" v-model="filterParams.startDate" />
              </div>
              <div class="form-group col-6 col-md-6">
                <label for="end-date">Fecha Final:</label>
                <input type="date" class="form-control" id="end-date" @change="filterByDate()" placeholder="" v-model="filterParams.endDate" />
              </div>
              </div>
              <div v-if="filterCriteria == 3" class="row">
                <div class="form-group col-6">
                  <label for="prioritystart">Desde:</label>
                  <input type="number" class="form-control" id="prioritystart" @change="filterByPriority()"  placeholder="0" v-model="filterParams.startPriority" />
                </div>
                <div class="form-group col-6">
                  <label for="priorityend">Hasta:</label>
                  <input type="number" class="form-control" id="priorityend" @change="filterByPriority()" placeholder="0" v-model="filterParams.endPriority" />
                </div>
              </div>
          </div>
      </div>
    </div>
    <div v-for="(state, index) in states" :key="state.key">
      <br />
      <h1>{{state.name}}</h1>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha Inicial</th>
            <th scope="col">Fecha final</th>
            <th scope="col">Dias Cumplidos</th>
            <th scope="col">Racha Actual</th>
            <th scope="col">Racha Maxima</th>
            <th scope="col">Prioridad</th>
            <th scope="col">Categoria</th>
            <th scope="col">Repeticion</th>
            <th scope="col">Numero de semanas</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(activity, index) in activities.filter(activity => activity.eventState == state.id)" :key="activity.eventId">
            <td>{{index+1}}</td>
            <td>{{activity.eventName}}</td>
            <td>{{activity.eventStartDate}}</td>
            <td>{{activity.eventEndDate}}</td>
            <td>{{activity.eventDays}}</td>
            <td>{{activity.eventCurStreak}}</td>
            <td>{{activity.eventMaxStreak}}</td>
            <td>{{activity.eventPriority}}</td>
            <td>{{activity.category.categoryName}}</td>
            <td v-if="activity.eventDaily">
              <span :class="{'text-danger': fixEventDaily(activity.eventDaily).charAt(0) == '1', 'text-success': activity.eventDaily[0] == 1}">L</span>
              <span :class="{'text-danger': fixEventDaily(activity.eventDaily).charAt(1) == '1', 'text-success': activity.eventDaily[1] == 1}">M</span>
              <span :class="{'text-danger': fixEventDaily(activity.eventDaily).charAt(2) == '1', 'text-success': activity.eventDaily[2] == 1}">M</span>
              <span :class="{'text-danger': fixEventDaily(activity.eventDaily).charAt(3) == '1', 'text-success': activity.eventDaily[3] == 1}">J</span>
              <span :class="{'text-danger': fixEventDaily(activity.eventDaily).charAt(4) == '1', 'text-success': activity.eventDaily[4] == 1}">V</span>
              <span :class="{'text-danger': fixEventDaily(activity.eventDaily).charAt(5) == '1', 'text-success': activity.eventDaily[5] == 1}">S</span>
              <span :class="{'text-danger': fixEventDaily(activity.eventDaily).charAt(6) == '1', 'text-success': activity.eventDaily[6] == 1}">D</span>
            </td>
            <td v-else>
              -
            </td>
            <td>{{activity.eventWeek}}</td>
            <td><a href="#" @click="editActivity(activity.eventId)"><i class="fa fa-edit" /></a></td>
            <td><a href="#" @click="deleteActivity(activity.eventId)"><i class="fa fa-trash" /></a></td>
            <td><button @click="editState(activity.eventId, state.id)" class="btn btn-primary">{{state.name}}</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>