<div>
  <div class="d-flex flex-column align-items-center p-5">
    <div v-for="(state, index) in states" ba>
      <h1>{{state.name}}</h1>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Fecha Inicial</th>
            <th scope="col">Fecha final</th>
            <th scope="col">Color</th>
            <th scope="col">Prioridad</th>
            <th scope="col">Categoria</th>
            <th scope="col">Repeticion</th>
            <th scope="col">Numero de semanas</th>
            <th scope="col">Editar</th>
            <th scope="col">Eliminar</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(activity, index) in activities.filter(activity => activity.state == state.id)">
            <td>{{index+1}}</td>
            <td>{{activity.eventName}}</td>
            <td>{{activity.eventStartDate}}</td>
            <td>{{activity.eventEndDate}}</td>
            <td>{{activity.eventColor}}</td>
            <td>{{activity.eventPriority}}</td>
            <td>{{activity.category.categoryName}}</td>
            <td v-if="activity.eventDaily">
              <span :class="{'text-success': activity.eventDaily[0] == 1, 'text-danger': activity.eventDaily[0] != 1}">L</span>
              <span :class="{'text-success': activity.eventDaily[1] == 1, 'text-danger': activity.eventDaily[1] == 0}">M</span>
              <span :class="{'text-success': activity.eventDaily[2] == 1, 'text-danger': activity.eventDaily[2] == 0}">M</span>
              <span :class="{'text-success': activity.eventDaily[3] == 1, 'text-danger': activity.eventDaily[3] == 0}">J</span>
              <span :class="{'text-success': activity.eventDaily[4] == 1, 'text-danger': activity.eventDaily[4] == 0}">V</span>
              <span :class="{'text-success': activity.eventDaily[5] == 1, 'text-danger': activity.eventDaily[5] == 0}">S</span>
              <span :class="{'text-success': activity.eventDaily[6] == 1, 'text-danger': activity.eventDaily[6] == 0}">D</span>
            </td>
            <td v-else>
              -
            </td>
            <td>{{activity.eventWeek}}</td>
            <td><a href="#" @click="editActivity(activity.eventId)"><i class="fa fa-edit" /></a></td>
            <td><a href="#" @click="deleteActivity(activity.eventId)"><i class="fa fa-trash" /></a></td>
            <td><select class="form-control">
              <option value="none">{{state.name}}</option>
              <option v-for='state2 in states' :key='state2.id'>{{ state2.name }}</option> 
                          </select>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>