<div>
  <div class="d-flex flex-column align-items-center">
    <h3>Bienvenido, {{user.name}} {{user.lastname}}</h3>
    <div class="card col-10 col-md-6">
      <div class="card-header">
        <h5>Tu información:</h5>
        <p class="mr-0">
          <router-link to="/profile">Editar</router-link>
        </p>
      </div>
      <div class="card-body">
        <p>Email: {{user.email}}</p>
        <p>Fecha de nacimiento: {{user.age}}</p>
      </div>
      <div class="box" v-for="(activity, index) in filter()" v-draggable @drag-start="onStart" @drag-stop="onStop">{{activity.eventName}}</div>
    </div>
  </div>
</div>
